@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:600|Open+Sans:400,600|Source+Sans+Pro:400,600,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* deepskyblue == #61dafb */

input, textarea {
	font-family: 'Open Sans', sans-serif;
	color: #444444;
}

input:focus, textarea:focus {
  background-color: #ffffff;
	outline: none;
	border: 2px solid #61dafb;
}

::-webkit-scrollbar {
    width: 8px;  /* Total width including `border-width` of scrollbar thumb */
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
		border-radius: 8px;
    background-clip: padding-box;
}
::-webkit-scrollbar-track {
	background-color: #e0e4e3;
}

::-webkit-scrollbar-thumb {
		background-color: #c6cac9;
}

.tilt {
	transform: rotate(15deg);
}
